<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Portfolio Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h1>My  Portfolio  Site</h1>
</div>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="portfolio/1/">Ayush Patel</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About us
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="portfolio/1/">My Portfolio</a></li>
          <li><a href="mail/">Mail Me</a></li>
        </ul>
      </li>
      <li><a href="/portfolio/">Portfolio</a></li>
      <li><a href="admin">Admin Page</a></li>
      <li>
		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Contact Us</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="email">Your Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
  <div class="form-group">
    <label for="sub">Subject :</label>
    <input type="text" class="form-control" id="sub">
  </div>
  <div class="form-group">
    <label for="cnt">Content :</label>
    <input type="text" class="form-control" id="cnt">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Send Me Notifications .</label>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</li>

    </ul>
  </div>
</nav>
<br><br><br>

<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="https://www.facebook.com/ayush.patel.376695">Join On facebook</a></p><br>
      <p><a href="https://proxy62.iitd.ernet.in/cgi-bin/proxy.cgi">IIT Delhi proxy Page<br>(Dual Degree)</a></p><br>
      <p><a href="https://proxy22.iitd.ernet.in/cgi-bin/proxy.cgi">IIT Delhi proxy Page<br>(B. Tech)</a></p><br>
      <p><a href="https://drive.google.com/file/d/0B6OQM6QS-LBtUHpsTC1ORG1Sazg/view">Dev Club <br>Assignment.pdf</a></p><br>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Welcome</h1><br><br>
      <p><h4>This is a site to manage Students accounts registered in various courses in Indian Institute Of Technology Delhi. <br><br>
	This Database Stores Information of all the students .<br><br>
	If anyone has any issues with the information entered or his/her name is not registered in the database, 
he/she may report it by sending an <a href="mail/"><u>e-mail</u></a> with the querries or come to the Undergraduate (UG) section during the working hours .<br><br>
 </h4></p>
      <hr>
      <h3>Copyright</h3>
      <p>This website belongs to <a href="https://www.facebook.com/ayush.patel.376695">Ayush Patel</a> . <i>  2016 &copy; AYUSH PATEL ALL RIGHTS RESERVED</i> </p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p><font color=blue>Search Google</font><form method="get" action="https://www.google.com/search">
<input type="text" name="q" size="18" value="">
</form></p>
      </div>
      <div class="well">
        <p bgcolor="aqua"><a href="https://www.w3schools.com/"><h1>w3schools</h1></a></p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p></p>
</footer>


</body>
</html>